/env/
/in/
/out/
/__pycache__/
/Interface/movies/
/Interface/__pycache__/
/Interface/samsa.db
/Interface/samsa.log
/SentimentalAnalysis/__pycache__/
/SentimentalAnalysis/model/__pycache__/
/SentimentalAnalysis/src/__pycache__/
/SpeechRecognition/__pycache__/
/SpeechRecognition/src/__pycache__/
model_cache.pkl
/.ipynb_checkpoints/
/.env
/__pycache__
/.idea
ffmpeg.exe
/SentimentalAnalysis/tests/__pycache__