numpy
pandas
matplotlib
sklearn


python-dotenv
SpeechRecognition
PyAudio
pydub
MoviePy
scipy
speechbrain
transformers
pyannote.audio
whisper


git+https://github.com/huggingface/datasets.git
git+https://github.com/huggingface/transformers.git
torchaudio
librosa


fastapi
uvicorn
pydantic
SQLAlchemy
PyMySQL
Jinja2
python-multipart