numpy
pandas
matplotlib
scikit-learn
SpeechRecognition
PyAudio
pydub
MoviePy
scipy
speechbrain
transformers
pyannote.audio
whisper
nltk
gensim

pip install -q git+https://github.com/openai/whisper.git
pip install -q git+https://github.com/pyannote/pyannote-audio
torch
torchaudio
seaborn
librosa

fastapi
uvicorn
pydantic
SQLAlchemy
PyMySQL
Jinja2
python-multipart
