<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="icon" type="image/png" rel="noopener" target="_blank" href="/static/favicon.ico">
    <title> Sentiment Analysis on Movie Scripts and Audio - S.A.M.S.A </title>
</head>

<body>
    <!-- Navigation Bar -->
    <div class="navbar">
        <!-- Logo -->
        <img class="navbar-logo" src="/static/logo_dark_v2.png" alt="logo"></img>

        <section class="search-bar">
            <input class="search-input" id="search-input1" name="search" type="search" autocomplete="false"
                placeholder="Search movie analysis ...">
            <button class="search-button"> search </button>
        </section>

        <ul class="navbar-menu">
            <li class="navbar-item">
                <a class="navbar-button" href="/"> <i class="fa fa-home" aria-hidden="true"></i> Home </a>
            </li>
            <li class="navbar-item">
                <a class="navbar-button" href="/database"> <i class="fa fa-database" aria-hidden="true"></i> Database
                </a>
            </li>
            <li class="navbar-item">
                <a class="navbar-button" href="/authors"> <i class="fa fa-users" aria-hidden="true"></i> Authors </a>
            </li>
        </ul>
    </div>

    <div class="main-frame">

        <div class="index">
            <div class="row">
                <div class="index-element">
                    <h1> General </h1>
                </div>
                <div class="index-element">
                    <h1> References </h1>
                </div>
            </div>
            <div class="row">
                <div class="index-element">
                    <!-- DON'T forget to change the link. -->
                    <iframe width="700" height="400" src="https://www.youtube.com/embed/S5k3Iyw-yUE"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>

                    <h3>Github Links</h3>
                    <a class="movie-link" href="https://github.com/atayalin/SAMSA">
                        <i class="fa fa-link"></i> SAMSA Github
                    </a>
                    <h3>Project Team Github Links</h3>
                    <ul>
                        <li>
                            <a class="movie-link" href="https://github.com/denizgonenc">
                                <i class="fa fa-link"></i> Deniz Gönenç Github
                            </a>
                        </li>
                        <li>
                            <a class="movie-link" href="https://github.com/muratileri">
                                <i class="fa fa-link"></i> Murat İleri Github
                            </a>
                        </li>
                        <li>
                            <a class="movie-link" href="https://github.com/denizerkin">
                                <i class="fa fa-link"></i> Deniz Erkin Kasaplı Github
                            </a>
                        </li>
                        <li>
                            <a class="movie-link" href="https://github.com/atayalin">
                                <i class="fa fa-link"></i> Ata Yalın Başaran Github
                            </a>
                        </li>
                    </ul>

                    <!-- Github account links of everybody. -->
                    <!-- Report Link -->
                    <!-- -->
                </div>

                <div class="index-element">
                    <ul style="justify-content: left; list-style-type: space-count;">
                        <li>
                            Mohammad, S. M., & Turney, P. D. (2013). Crowdsourcing a Word-Emotion Association
                            Lexicon. Computational Intelligence, 29(3), 436-465.
                        </li>
                        <li>
                            Mohammad, Saif, and Peter Turney. "Emotions Evoked by Common Words and Phrases: Using
                            Mechanical Turk to Create an Emotion Lexicon." In Proceedings of the NAACL HLT 2010 Workshop
                            on Computational Approaches to Analysis and Generation of Emotion in Text, June 2010, Los
                            Angeles, CA. Association for Computational Linguistics, pp. 26-34. Available online: link.
                        </li>
                        <li>
                            Wilson, T., Wiebe, J., & Hoffmann, P. (2005). Recognizing Contextual Polarity in
                            Phrase-Level Sentiment Analysis. Proceedings of the Conference on Human Language Technology
                            and Empirical Methods in Natural Language Processing.
                        </li>
                        <li>
                            Radford, A., Kim, J. W., Xu, T., Brockman, G., McLeavey, C., & Sutskever, I. (2022).
                            Robust Speech Recognition via Large-Scale Weak Supervision. arXiv [Eess.AS]. Retrieved from
                            http://arxiv.org/abs/2212.04356
                        </li>
                        <li>
                            K. R. Shahapure and C. Nicholas, "Cluster Quality Analysis Using Silhouette Score," 2020
                            IEEE 7th International Conference on Data Science and Advanced Analytics (DSAA), Sydney,
                            NSW, Australia, 2020, pp. 747-748, doi: 10.1109/DSAA49011.2020.00096.
                        </li>
                    </ul>

                    <ul style="text-align: left; list-style-type: space-count;">
                        <li>
                            <b>Title: </b> Star Wars Movie Scripts
                            <br>
                            <b>Link: </b>
                            <a href="https://www.kaggle.com/datasets/xvivancos/star-wars-movie-scripts">
                                https://www.kaggle.com/datasets/xvivancos/star-wars-movie-scripts
                            </a>
                            <br>
                            <b>Main Link: </b>
                            <a href="https://github.com/gastonstat/StarWars/tree/master/Text_files">
                                https://github.com/gastonstat/StarWars/tree/master/Text_files</a>
                            <br>
                            <b>Access date: </b> 17.06.2023 - 15:13.
                        </li>
                        <li>
                            <b>Title: </b> SemEval-2018 Task 1: Affect in Tweets
                            <br>
                            <b>Link: </b>
                            <a href="https://competitions.codalab.org/competitions/17751#learn_the_details-overview">
                                https://competitions.codalab.org/competitions/17751#learn_the_details-overview
                            </a>
                            <br>
                            <b> Access date: </b> 18.06.2023 - 15:08
                        </li>
                        <li>
                            <b>Title: </b> Whisper with Speaker Recognition
                            <br>
                            <b>Link: </b>
                            <a href="https://huggingface.co/spaces/dwarkesh/whisper-speaker-recognition">
                                https://huggingface.co/spaces/dwarkesh/whisper-speaker-recognition
                            </a>
                            <br>
                            <b>Access date: </b> 18.06.2023 - 15:07
                        </li>
                    </ul>
                </div>

            </div>


            <div class="row">
                <div class="index-element">
                    <h1>
                        Contact
                        <a class="mail" href="mailto:info.samsa.contact@gmail.com">
                            <i class="fa fa-envelope"> </i> info.samsa.contact@gmail.com
                        </a>
                    </h1>
                </div>
                <div class="index-element"></div>
            </div>

            <div class="row">
                <div class="index-element">
                    <form class="contact-form" method="POST" action="/authors">
                        <div class="row">
                            <input type="text" name="name" placeholder="Your name">
                            <input type="email" name="email" placeholder="Your email">
                        </div>
                        <div class="row">
                            <textarea name="message" placeholder="Your message"></textarea>
                        </div>
                        <div class="row">
                            <input type="submit" value="Send">
                        </div>
                    </form>
                </div>

                <div class="index-element"></div>
            </div>

        </div>


        <footer>
            ©2023 - Hepsi 1 Team
        </footer>

        <script src="/static/search.js"></script>

</body>

</html>