<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="icon" type="image/png" rel="noopener" target="_blank" href="/static/favicon.ico">
    <title> Sentiment Analysis on Movie Scripts and Audio - S.A.M.S.A </title>
</head>

<body>
    <!-- Navigation Bar -->
    <div class="navbar">
        <!-- Logo -->
        <img class="navbar-logo" src="/static/logo_dark_v2.png" alt="logo"></img>

        <section class="search-bar">
            <input class="search-input" id="search-input1" name="search" type="search" autocomplete="false"
                placeholder="Search movie analysis ...">
            <button class="search-button"> search </button>
        </section>

        <ul class="navbar-menu">
            <li class="navbar-item">
                <a class="navbar-button" href="/"> <i class="fa fa-home" aria-hidden="true"></i> Home </a>
            </li>
            <li class="navbar-item">
                <a class="navbar-button" href="/database"> <i class="fa fa-database" aria-hidden="true"></i> Database
                </a>
            </li>
            <li class="navbar-item">
                <a class="navbar-button" href="/authors"> <i class="fa fa-users" aria-hidden="true"></i> Authors </a>
            </li>
        </ul>
    </div>

    <div class="main-frame">

        <div class="index">
            <div class="row">
                <div class="index-element">
                    <h1> General </h1>
                </div>
                <div class="index-element">
                    <h1> References & Citations </h1>
                </div>
            </div>
            <div class="row">
                <div class="index-element">
                    <!-- DON'T forget to change the link. -->
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen></iframe>

                    <h3>Github Links</h3>
                    <a class="movie-link" href="https://github.com/atayalin/SAMSA">
                        <i class="fa fa-link"></i> SAMSA Github
                    </a>
                    <h3>Project Team Github Links</h3>
                    <ul>
                        <li>
                            <a class="movie-link" href="https://github.com/denizgonenc">
                                <i class="fa fa-link"></i> Deniz Gönenç Github
                            </a>
                        </li>
                        <li>
                            <a class="movie-link" href="https://github.com/muratileri">
                                <i class="fa fa-link"></i> Murat İleri Github
                            </a>
                        </li>
                        <li>
                            <a class="movie-link" href="https://github.com/denizerkin">
                                <i class="fa fa-link"></i> Deniz Erkin Kasaplı Github
                            </a>
                        </li>
                        <li>
                            <a class="movie-link" href="https://github.com/atayalin">
                                <i class="fa fa-link"></i> Ata Yalın Başaran Github
                            </a>
                        </li>
                    </ul>

                    <!-- Github account links of everybody. -->
                    <!-- Report Link -->
                    <!-- -->
                </div>

                <div class="index-element">
                    <ul>
                        <li>

                        </li>
                    </ul>
                </div>

            </div>


            <div class="row">
                <div class="index-element">
                    <h1>Contact</h1>
                </div>
                <div class="index-element"></div>
            </div>

            <div class="row">
                <div class="index-element">
                    <form class="contact-form" method="POST" action="/authors">
                        <div class="row">
                            <input type="text" name="name" placeholder="Your name">
                            <input type="email" name="email" placeholder="Your email">
                        </div>
                        <div class="row">
                            <textarea name="message" placeholder="Your message"></textarea>
                        </div>
                        <div class="row">
                            <input type="submit" value="Send">
                        </div>
                    </form>
                </div>

                <div class="index-element"></div>
            </div>

        </div>


        <footer>
            ©2023 - Hepsi 1 Team
        </footer>

        <script src="/static/search.js"></script>

</body>

</html>