<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href='/static/font-awesome/fonts.css'> -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat'>
    <link rel="icon" type="image/png" rel="noopener" target="_blank" href="/static/favicon.ico">
    <title> Sentiment Analysis on Movie Scripts and Audio - S.A.M.S.A </title>
</head>

<body>
    <!-- Navigation Bar -->
    <div class="navbar">
        <!-- Logo -->
        <img class="navbar-logo" src="/static/logo_dark_v2.png" alt="logo"></img>

        <section class="search-bar">
            <input class="search-input" id="search-input1" name="search" type="search" autocomplete="false"
                placeholder="Search movie analysis ...">
            <button class="search-button"> search </button>
        </section>


        <ul class="navbar-menu">
            <li class="navbar-item">
                <a class="navbar-button" href="/"> <i class="fa fa-home" aria-hidden="true"></i> Home </a>
            </li>
            <li class="navbar-item">
                <a class="navbar-button" href="/database"> <i class="fa fa-database" aria-hidden="true"></i> Database
                </a>
            </li>
            <li class="navbar-item">
                <a class="navbar-button" href="/authors"> <i class="fa fa-users" aria-hidden="true"></i> Authors </a>
            </li>
        </ul>
    </div>

    <div class="main-frame">

        <div class="index">
            <div class="row">
                <h1> Database </h1>
            </div>

            <table class="movie-table">

                <thead>
                    <tr>
                        <th> Id </th>
                        <th> Name </th>
                        <th> Description </th>
                        <th> Speakers </th>
                        <th> Files </th>
                        <th> </th> <!--Save-->
                        <th> </th> <!--Delete-->
                    </tr>
                </thead>

                <tbody>

                    {% for movie in movies %}

                    <tr class="movie-row">
                        <td>{{ movie['movie'].id }}</td>
                        <td><a class="movie-link" href="/movies/{{movie['movie'].id}}"> {{
                                ''.join(movie['movie'].name.split('.')[0:-1]) }}
                            </a></td>
                        <td><input class="movie-inp-chg" value="{{ movie['movie'].description }}" type=text></td>
                        <td>
                            {% if movie['speakers'].__len__() == 0 %}
                            <ul>
                                <li>
                                    <div
                                        style="padding: 0.8rem; color: #8A6D84; background-color: #FCF8E3; border-radius: 10px; box-shadow: 1px 1px 1px #FAEBCC; border: 1px solid #FAEBCC;">
                                        <strong>NOTE:</strong> Please wait till the process is finished.
                                    </div>
                            </ul>
                            </li>
                            {% else %}
                            <ul>
                                {% for speaker in movie['speakers'] %}
                                <li><input class="movie-inp-chg" type="text" value="{{ speaker }}" name="{{ speaker }}">
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </td>
                        <td>
                            <ul>
                                {% for file in movie['files'] %}
                                <li> <a class="file-link" href="{{ file['url'] }}"> {{ file['name'] }} </a> </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td><button class="movie-btn green" id="save-{{movie.id}}"> <i class="fa fa-save"
                                    aria-hidden="true"></i> </button></td>
                        <td><button class="movie-btn red" id="delete-{{movie.id}}"> <i class="fa fa-trash"
                                    aria-hidden="true"></i> </button></td>
                    </tr>

                    {% endfor %}

                </tbody>
            </table>
        </div>

    </div>

    <footer>
        ©2023 - Hepsi 1 Team
    </footer>

    <script src="/static/search.js"></script>
    <script src="/static/database.js"></script>

</body>

</html>