<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="icon" type="image/png" rel="noopener" target="_blank" href="/static/favicon.ico">
    <title> Sentiment Analysis on Movie Scripts and Audio - S.A.M.S.A </title>
</head>

<body>
    <!-- Navigation Bar -->
    <div class="navbar">
        <!-- Logo -->
        <img class="navbar-logo" src="/static/logo_dark_v2.png" alt="logo"></img>

        <section class="search-bar">
            <input class="search-input" id="search-input1" name="search" type="search" autocomplete="false"
                placeholder="Search movie analysis ...">
            <button class="search-button"> search </button>
        </section>

        <ul class="navbar-menu">
            <li class="navbar-item">
                <a class="navbar-button" href="/"> <i class="fa fa-home" aria-hidden="true"></i> Home </a>
            </li>
            <li class="navbar-item">
                <a class="navbar-button" href="/database"> <i class="fa fa-database" aria-hidden="true"></i> Database
                </a>
            </li>
            <li class="navbar-item">
                <a class="navbar-button" href="/authors"> <i class="fa fa-users" aria-hidden="true"></i> Authors </a>
            </li>
        </ul>
    </div>
    <div class="main-frame">
        <div class="index">

            <div class="row">
                <h1 class="index-element"> About Project </h1>
                <h1 class="index-element"> How to Use? </h1>
            </div>

            <div class="row">
                <div class="index-element">
                    <p class="index-element">
                        Emotions are things that specify a person’s acts, feelings, Emotions play a significant role in
                        our lives, influencing our thoughts, actions, and relationships. Understanding and examining
                        emotions can provide valuable insights and foresight in various areas. Exploring emotions
                        through research and analysis empowers us to make informed choices, cultivate empathy, and
                        create a more harmonious and fulfilling existence. Since emotions are this much significant in
                        society, in our project we are examining movie/tv series scripts with NLP to find out the
                        emotions. We are doing our research specifically on movie/tv series scripts because one of the
                        best reflections of real life and real human emotions that we can observe is from movies/tv
                        series.
                    </p>
                    <p class="index-element">
                        Natural Language Processing (NLP) and speech recognition are widely utilized artificial
                        intelligence (AI) applications that have become increasingly prevalent in various domains. The
                        objective of this project is to explore the field of Natural Language Processing (NLP) and
                        Speech Recognition and implement them to work on emotions. Our aim was to create a Natural
                        Language Processing model, and use that model on the script that we obtained by already in use
                        Speech Recognition tools. Eventually, our aim was to obtain a model which we can use to predict
                        the emotions in a movie/tv series script. As a result we used the obtained modules on scripts to
                        visualize the emotions. For the visualization we are using python tools for pie charts, bar
                        charts, etc. As our final product we designed an NLP model, used already generated Speech
                        Recognition models with some changes and gathered them in our website.
                    </p>
                </div>
                <div class="index-element">
                    <div class="row">
                        <div>
                            <p class="index-element">
                                Allowed extensions are <strong>.json</strong>, <strong>.wav</strong>,
                                <strong>.mp3</strong> and <strong>.mp4</strong>. If the input file's extension is
                                incorrect, it will return the related error message.
                            </p>

                            <ol class="index-element" style="">
                                <li>
                                    The input box at the bottom of the page is used to select the input files. Click it
                                    and select the file that is going to be uploaded or Drag&Drop to the same place.
                                </li>
                                <li>
                                    Press the <strong>Upload</strong> button that is on the right side of the upload
                                    box. If you are not sure of the file, click the <strong>Cancel</strong> button and
                                    reselect the file. The file will respond with a "finished" message if it is
                                    successfully uploaded. Otherwise, it will return the related error.
                                </li>
                                <li>
                                    If the upload operation is finished correctly, you can see the uploaded file,
                                    processed information, resulting charts, and any other information on the database
                                    and movie pages.
                                </li>
                            </ol>

                            <p class="index-element">
                                If the file is still in the SpeakerDiarization process you cannot be able to view the
                                resulting JSON files, charts, speakers, etc.
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <h1> Wanna Try?</h1>
            </div>

            <div class="row">
                <!-- action = upload-test is important may cause errors in the continuation -->
                <form id="form1" action="/" enctype="multipart/form-data" method="post" autocomplete="off">
                    <div class="box-input">
                        <!-- name property is important to get file from fastapi framework. -->
                        <input class="audio-input" type="file" id="audio-input1" name="uploaded_file">
                        <label class="dnd" for="audio-input1">
                            <strong>Choose a File</strong>
                            <br>
                            <br>
                            <i class="fa fa-plus"></i>
                            <br>
                            <br>
                            or Drag & Drop here
                        </label>
                        <div class="box-input-success"> Success </div>
                        <div class="box-input-error"> Error: </div>
                    </div>
                </form>
            </div>
        </div>


    </div>

    <footer>
        ©2023 - Hepsi 1 Team
    </footer>

    <script src="/static/script.js"></script>
    <script src="/static/search.js"></script>


</body>

</html>