<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="icon" type="image/png" rel="noopener" target="_blank" href="/static/favicon.ico">
    <title> Sentiment Analysis on Movie Scripts and Audio - S.A.M.S.A </title>
</head>

<body>
    <!-- Navigation Bar -->
    <div class="navbar">
        <!-- Logo -->
        <img class="navbar-logo" src="/static/logo_dark_v2.png" alt="logo"></img>

        <section class="search-bar">
            <input class="search-input" id="search-input1" name="search" type="search" autocomplete="false"
                placeholder="Search movie analysis ...">
            <button class="search-button"> search </button>
        </section>

        <ul class="navbar-menu">
            <li class="navbar-item">
                <a class="navbar-button" href="/"> <i class="fa fa-home" aria-hidden="true"></i> Home </a>
            </li>
            <li class="navbar-item">
                <a class="navbar-button" href="/database"> <i class="fa fa-database" aria-hidden="true"></i> Database
                </a>
            </li>
            <li class="navbar-item">
                <a class="navbar-button" href="/authors"> <i class="fa fa-users" aria-hidden="true"></i> Authors </a>
            </li>
        </ul>
    </div>

    <div class="main-frame">

        <img class="popup-image" src="">

        <div class="index">

            <div class="row bottom-line">
                <div class="index-element">
                    <h1> Name <span class="indicator">{{ m.name }}</span></h1>
                </div>
                <div class="index-element">
                    <h1> ID <span class="indicator">{{ m.movie_id }}</span></h1>
                </div>
                <div class="index-element">

                </div>
            </div>

            <div class="row bottom-line">

                <div class="index-element">
                    <h1>Description</h1>
                    <p>{{ m.description }}</p>
                </div>
                <div class="index-element">
                    <h1>Speakers</h1>
                    <ul>
                        {% for speaker in m.speakers %}
                        <li>{{ speaker }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="index-element">
                    <h1>Files</h1>
                    <ul>
                        {% for file in m.files %}
                        <li> <a class="file-link" href="{{ file['url'] }}"> {{ file['name'] }} </a> </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="row">
                <h1>Charts & Graphs</h1>
            </div>
            <div class="grid">
                {% for graph in m.graphs %}
                <img class="graph" src="{{ graph.path }}">
                {% endfor %}
            </div>

        </div>

        <div class="movie-graphs"></div>

    </div>
    </div>

    <footer>
        ©2023 - Hepsi 1 Team
    </footer>

    <script src="/static/search.js"></script>
    <script src="/static/graphs.js"></script>
    <script src="/static/database.js"></script>

</body>

</html>