<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="icon" type="image/png" rel="noopener" target="_blank" href="/static/favicon.ico">
    <title> Sentiment Analysis on Movie Scripts and Audio - S.A.M.S.A </title>
</head>

<body>
    <!-- Navigation Bar -->
    <div class="navbar">
        <!-- Logo -->
        <img class="navbar-logo" src="/static/logo_dark_v2.png" alt="logo"></img>

        <section class="search-bar">
            <input class="search-input" id="search-input1" name="search" type="search" autocomplete="false"
                placeholder="Search movie analysis ...">
            <button class="search-button"> search </button>
        </section>

        <ul class="navbar-menu">
            <li class="navbar-item">
                <a class="navbar-button" href="/"> <i class="fa fa-home" aria-hidden="true"></i> Home </a>
            </li>
            <li class="navbar-item">
                <a class="navbar-button" href="/database"> <i class="fa fa-database" aria-hidden="true"></i> Database
                </a>
            </li>
            <li class="navbar-item">
                <a class="navbar-button" href="/authors"> <i class="fa fa-users" aria-hidden="true"></i> Authors </a>
            </li>
        </ul>
    </div>

    <div class="main-frame">
        <div class="movie">
            <h1 class="movie-name">{{ m.name }} - {{ m.movie_id }}</h1>

            <div class="movie-first-row">
                <div class="movie-description">
                    <h3>Description</h1>
                        <p>{{ m.description }}</p>
                </div>
                <div class="speakers">
                    <h3>Speakers</h3>
                    <ul>
                        {% for speaker in m.speakers %}
                        <li>{{ speaker }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="files">
                    <h3>Files</h3>
                    <ul>
                        {% for file in m.files %}
                        <li> <a class="file-link" href="{{ file['url'] }}"> {{ file['name'] }} </a> </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="movie-graphs"></div>

        </div>
    </div>

    <footer>
        ©2023 - Hepsi 1 Team
    </footer>

    <!-- <script src="static/movie.js"></script> -->
    <script src="/static/search.js"></script>

</body>

</html>