div.uploaded-file {}

button.cancel-button {
    border-radius: 100%;
    background-color: #F8F7F2;
    border-color: red;
    color: red;
    opacity: 50%;
    user-select: none;
}

button.cancel-button:hover {
    opacity: 100%;
}

button.cancel-button:active {
    background-color: red;
    border-color: #F8F7F2;
    color: #F8F7F2;
}